<div class="container  mt-5">
  <div class="d-flex flex-wrap">
    <div class="col-5">
      <div class="card">
        <img src="<%= @flat.image %>" class="card-img-top" alt="<%= @flat.name %>">
        <div class="card-body m-2">
          <h2 class="card-title"><%= @flat.name %></h2>
          <p class="card-text"><%= @flat.address %></p>
          <p class="card-text"><%= @flat.description %></p>
          <p class="card-text"><%= @flat.price%>€</p>
        </div>
      </div><br>
      <div class="col-6">
        <%= render 'bookings/new' %>
      </div><br><br>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
      </div><br><br>
    </div>
    <%= link_to "Voir tous les apparts", flats_path, class: "btn btn-primary" %>
  </div>
</div>
